@import './variables.scss';
@import './mixins.scss';

.first-section {
  margin-bottom: 40px;
  padding-bottom: 95px;
}

.second-section {
  padding-bottom: 51px;
  margin-bottom: 80px;
}

.section {
  &__header {
    margin-bottom: 71px;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 63px;
    color: $accent-color;
    font-weight: 700;
    font-family: $main-font;
    text-align: center;
  }
}

.services {
  padding: 0 calc(50% - 640px);
  display: flex;
  flex-direction: column;
  flex-basis: 940px;
  &__title {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 30px;
    color: $accent-color;
    font-weight: 700;
    font-family: $main-font;
    text-align: center;
    margin: 0;
    margin-bottom: 23px;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    color: #4b4b4b;
    font-weight: 300;
    margin-bottom: 80px;
    font-family: $main-font;
    white-space: pre;
  }
  &__wrapper {
    text-align: center;
    background-color: #ffffff;
    padding-top: 65px;
    position: relative;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 34px;
    justify-content: space-between;
    padding-left: 25px;
  }
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  &__title {
    @include service-title;
    text-align: center;
    margin-bottom: 20px;
  }
  &__description {
    text-align: center;
    max-width: 200px;
    @include service-description;
  }
  &__image {
    margin-bottom: 55px;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      cursor: pointer;
    }
  }
  &__arrow--left {
    left: 53px;
  }
  &__arrow--right {
    right: 56px;
  }
}

.services-item {
  display: flex;
  flex-basis: calc(50% - 47px);
  box-sizing: border-box;
  margin-bottom: 61px;
  &__title {
    margin-bottom: 18px;
    @include service-title;
  }
  &__description {
    text-align: left;
    @include service-description;
  }
  &__image {
    max-width: 60px;
    height: 60px;
  }
  &__group {
    margin-left: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 9px;
  }
}

.carousel-container {
  padding-left: 25px;
}
