@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");
@import "./services/variables.scss";
@import "./services/mixins.scss";

.first-section {
  margin-bottom: 40px;
}

.section {
  &__header {
    margin-bottom: 71px;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 63px;
    color: $accent-color;
    font-weight: 700;
    font-family: $main-font;
    text-align: center;
  }
}

.services {
  padding: 0 calc(50% - 640px);
  display: flex;
  flex-direction: column;
  flex-basis: 940px;
  &__title {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 30px;
    color: $accent-color;
    font-weight: 700;
    font-family: $main-font;
    text-align: center;
    margin: 0;
    margin-bottom: 23px;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    color: #4b4b4b;
    font-weight: 300;
    margin-bottom: 80px;
    font-family: $main-font;
  }
  &__wrapper {
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 95px;
    padding-top: 65px;
    position: relative;
  }
  &__slider {
    max-width: 940px;
    margin: 0 auto;
  }
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  &__title {
    @include service-title;
    text-align: center;
    margin-bottom: 20px;
  }
  &__description {
    text-align: center;
    max-width: 200px;
    @include service-description;
  }
  &__image {
    margin-bottom: 55px;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__arrow--left {
    left: 53px;
  }
  &__arrow--right {
    right: 56px;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 34px;
  width: 100%;
  justify-content: space-between;
  padding-left: 47px;
}
.features-item {
  display: flex;
  flex-basis: 45%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 61px;
  &:nth-child(even) {
    margin-right: 13px;
  }
  &__title {
    margin-bottom: 18px;
    @include service-title;
  }
  &__description {
    text-align: left;
    @include service-description;
  }
  &__image {
    max-width: 60px;
    height: 60px;
  }
  &__group {
    margin-left: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 9px;
  }
}

.carousel-cont {
  padding-left: 25px;
}
