@font-face {
    font-family: "Titillium Web";
    src: url('../fonts/TitilliumWeb-Light.ttf');
    font-weight: 700;
}
@font-face {
    font-family: "Titillium Web";
    src: url('../fonts/TitilliumWeb-Light.ttf');
    font-weight: 300;
}